.output {

	display: inline-flex;
	padding: 10%;
	align-items: center;
	position: relative;

}


@keyframes criptografa-letra {
	0% {
		top: 10%;
		opacity: 1;
	}

	20% {
		opacity: 0.9;
	}
	50% {
		top: 25%;
		opacity: 0.8;
	}

	80% {
		opacity: 0.5;
	}
	100% {
		top: 50%;
		opacity: 0.0;
	}
}

@keyframes letra-criptografa {

	0% {
		opacity: 0;
		top: 50%
	}

	50% {
		top: 65%;
		opacity: 0.5;
	}
	100% {
		top: 80%;
		opacity: 1.0;
	}

}

#.letra-sendo-criptografada {
	position: relative;
}

.letra-sendo-criptografada {

	position: absolute;
	left: 110%;
	top: 10%;
	animation-name: criptografa-letra;
	animation-duration: 1.0s;
	/* or: Xms */
	animation-iteration-count: infinite;
	animation-direction: normal;
	/* alternate or: normal */
	animation-timing-function: linear;
	/* or: ease, ease-in,ease-out; ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
	animation-fill-mode: backwards;
	/* or: backwards, both, none */
	animation-delay: 0s;
	/* or: Xms */
}

.letra-criptografada {

	position: absolute;
	left: 110%;
	top: 50%;
	animation-name: letra-criptografa;
	animation-duration: 1.0s;
	/* or: Xms */
	animation-iteration-count: infinite;
	animation-direction: normal;
	/* alternate or: normal */
	animation-timing-function: ease-in-out;
	/* or: ease, ease-in,ease-out; ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
	animation-fill-mode: none;
	/* or: backwards, both, none */
	animation-delay: 0s;
	/* or: Xms */
}



.pause-animation {

	animation-play-state: paused;

}

#letra-sendo-criptografada span {

	font-size: 300%;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

}

.frase-cripto-containder {

	position: absolute;
	margin: 0 auto;
	left: 1%;
	right: 1%;
	bottom: 10%;

}

.frase-do-input-container {

	position: absolute;
	margin: 0 auto;
	left: 1%;
	right: 1%;
	top: 1%;

}


#cipher-engine-gif img {

	width: 80%;
	height: auto;
	opacity: 0.85;
	margin-left: 140%;
	/*	margin-bottom: 30%;*/
}

.selecionada {
	font-size: 5em;
	color: white;
	background-color: red;
	text-align: center;
	opacity: 0.85;
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;

	padding-bottom: 0.5em;
	border: 2px solid #888;
	border-radius: 10px;
	transition: 0.8s linear;
}

.letra {
	font-size: 3em;
	vertical-align: middle;
	transition: 0.7s linear;
}


.selecionada-media {
	font-size: 2.5em;
	color: white;
	background-color: red;
	text-align: center;
	opacity: 0.85;
	padding: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	padding-bottom: 0.25em;
	border: 2px solid #888;
	border-radius: 10px;
	transition: 0.8s linear;
}

.letra-media {
	font-size: 1.5em;
	vertical-align: middle;
	transition: 0.7s linear;
}

.selecionada-input {
	font-size: 5em;
	color: white;
	background-color: red;
	text-align: center;
	opacity: 0.85;
	padding: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;

	padding-bottom: 0.25em;
	border: 2px solid #888;
	border-radius: 10px;
	transition: 0.1s linear;
}

.letra-input {
	font-size: 3em;
	vertical-align: middle;
	transition: 0.1s linear;
}


@media screen and (max-width: 1000px) {

	#cipher-engine-gif img {

		width: 80%;
		height: auto;
		opacity: 0.85;
		margin: 0 30%;
	}


	@keyframes criptografa-letra {
		0% {
			left: 10%;
		}

		20% {
			opacity: 0.9;
		}
		50% {
			left: 25%;
			opacity: 0.8;
		}

		80% {
			opacity: 0.5;
		}
		100% {
			left: 50%;
			opacity: 0.0;
		}
	}

	@keyframes letra-criptografa {

		0% {
			opacity: 0;
			left: 50%
		}

		50% {
			left: 65%;
			opacity: 0.5;
		}
		100% {
			left: 95%;
			opacity: 1.0;
		}

	}

	.letra-sendo-criptografada {
		width: 10%;
		height: 20%;
		left: 10%;
		top: 35%;
		bottom: 40%;
	}

	.letra-criptografada {
		width: 10%;
		height: 20%;
		left: 10%;
		top: 35%;
		bottom: 40%;
	}

	.selecionada-input {
		font-size: 2.5em;
	}

	.letra-input {
		font-size: 1.5em;
	}

	.selecionada {
		font-size: 2.5em;
	}

	.letra {
		font-size: 1.5em;
	}
	
	.invisivel{
		display: none;
	}


}
